{% extends 'schapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="banner-img">
    <img src="{% static 'schapp/img/depart.jpg' %}" alt="" style="width: 100%; padding-top: 30px; height: 40%;">

        <div class="page-header">
            <h1 class="text-center text-primary"> <strong>Clubs</strong></h1>
        </div>
    </div>
</div>

    <br>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <button type="button" class="btn btn-primary" id="myBtn2">More</button>

                <!-- Modal -->
                    <div class="modal fade" id="Modal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:5px 5px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="text-center" style="color: darkslategrey;"><b>Journalism</b></h4>


                                </div>
                                <div class="modal-body" style="padding:40px 5px;">
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
            <!--End Modal-->

            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
              </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Journalism</h3>
                <p>Patron</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <a href="" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>



    </div>
    <script src="{% static 'schapp/js/main.js' %}"></script>
    {% include 'schapp/footer.html' %}

{% endblock %}