{% extends 'schapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="banner-img">
    <img src="{% static 'schapp/img/depart.jpg' %}" alt="" style="width: 100%; padding-top: 30px; height: 40%;">

        <div class="page-header">
            <h1 class="text-center text-primary"> <strong>Clubs</strong></h1>
        </div>
    </div>
</div>

    <br>
        {% if cbs %}
            {% for c in cbs %}
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>{{ c.name }}</h3>
                <p>{{ c.patron }}</p>
            </div>
            <div class="panel-body">
                <p>{{ c.desc }}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" style="margin: 4px;">More</button>

                <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:5px 5px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="text-center" style="color: darkslategrey;"><b>{{ c.name }}</b></h4>


                                </div>
                                <div class="modal-body" style="padding:40px 5px;">
                                    <p>{{ c.desc }}</p>
                                </div>

                            </div>

                        </div>
                    </div>
            <!--End Modal-->

            </div>
        </div>
    </div>
            {% endfor %}
    {% endif %}
    </div>
    <script src="{% static 'schapp/js/main.js' %}"></script>
    {% include 'schapp/footer.html' %}

{% endblock %}