{% extends 'schapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'schapp/css/main.css' %}" type="text/css">
{% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="banner-img">
    <img src="{% static 'schapp/img/jahmu.jpg' %}" alt="" style="width: 100%; padding-top: 30px; height: 40%;">
        <div class="page-header">
            <h1 class="text-center text-primary"> <strong>Departments</strong></h1>
        </div>
    </div>
</div>

        <br>

        {% if dpars %}
            {% for d in dpars %}
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>{{ d.name }}</h3>
                <p>{{ d.hod }}</p>
            </div>
            <div class="panel-body">
                <p>{{ d.desc }}</p>
            </div>
        </div>
    </div>
            {% endfor %}
    {% endif %}


    </div>


    {% include 'schapp/footer.html' %}

{% endblock %}