{% extends 'schapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'schapp/css/main.css' %}" type="text/css">
{% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="banner-img">
    <img src="{% static 'schapp/img/jahmu.jpg' %}" alt="" style="width: 100%; padding-top: 30px; height: 40%;">
        <div class="page-header">
            <h1 class="text-center text-primary"> <strong>Departments</strong></h1>
        </div>
    </div>
</div>

        <br>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="" style="padding-left: 18px;">
                <h3>Mathematics</h3>
                <p>HOD</p>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    </div>
    {% include 'schapp/footer.html' %}

{% endblock %}