{% extends 'schapp/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="banner-img">
    <img src="{% static 'schapp/img/jahmu.jpg' %}" alt="" style="width: 100%; padding-top: 30px;">
    </div>
</div>

<div class="container-fluid">

<!-- About Section -->
<div class="row">
    <br>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-primary"><i class="fa fa-graduation-cap"></i>
                    Mission
                </h3>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-primary"><i class="fa fa-balance-scale"></i>
                    Vision
                </h3>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-primary"><i class="fa fa-male"></i>
                    Anthem
                </h3>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-primary"><i class="fa fa-school"></i>
                    Motto
                </h3>
            </div>
            <div class="panel-body">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged.</p>
            </div>

        </div>
    </div>
</div>
    <!-- End of About -->

       <!-- Staff section -->
    <div class="row">
        <div class="page-header">
            <h3 class="text-center text-primary text-head"><b>Our Staff</b></h3>
        </div>

        {% for staff in staffs %}
        <div class="col-md-3">
            <img src="{{ staff.staff_img.url }}" class="img img-responsive img img-circle" alt="" style="height: 200px; width: 200px;">
            <div class="staff-text">
                <hr>
                <h4 class="text-primary">{{ staff.name }}</h4>
                <h5 class="text-primary">{{ staff.position }}</h5>
                <br>
                <p>{{ staff.staff_desc }}</p>
                <hr>
            </div>
        </div>

        {% endfor %}

    </div>
    <!-- End of Staff -->

    <!-- Events -->
    <div class="row">
        <div class="page-header">
            <h3 class="text-primary text-center text-head"><b>Events</b></h3>
        </div>

        <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 250px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" id="myBtn" style="margin: 4px;">More</button>
            </div>

            <!-- Modal -->
                    <div class="modal fade" id="Modal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:5px 5px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="text-center" style="color: darkslategrey;"><b>Title</b></h4>


                                </div>
                                <div class="modal-body" style="padding:40px 5px;">
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
            <!--End Modal-->

        </div>
        </div>

         <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 250px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" style="margin: 4px;">More</button>
            </div>
        </div>
        </div>

         <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 250px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" style="margin: 4px;">More</button>
            </div>
        </div>
        </div>

         <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 250px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" style="margin: 4px;">More</button>
            </div>
        </div>
        </div>
    </div>

    <!-- End of Events -->


    <!-- Blog section -->
    <div class="row">
        <div class="page-header">
            <h3 class="text-center text-primary text-head"><b>Blog</b></h3>
        </div>

        <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 328px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" style="margin: 4px;" id="myBtn1">More</button>
            </div>

            <!-- Modal -->
                    <div class="modal fade" id="Modal1" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:5px 5px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="text-center" style="color: darkslategrey;"><b>Title</b></h4>


                                </div>
                                <div class="modal-body" style="padding:40px 5px;">
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
            <!--End Modal-->


        </div>
        </div>

        <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 328px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" style="margin: 4px;">More</button>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img src="{% static 'schapp/img/soda.jpg' %}" alt="" class="img img-thumbnail" style="height: 250px; width: 328px;">
                <hr>
                <h3 class="text-primary">Title <small class="text-primary" style="float: right;">Date</small></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-success" style="margin: 4px;">More</button>
            </div>
        </div>
        </div>

    </div>
    <!-- End of Blog -->

<!-- Location & contact form -->
    <div class="row">
        <div class="page-header">
            <h3 class="text-center text-primary text-head"><b>Get in Touch</b></h3>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="lead1">Drop A Message...</p>
            <hr>

                <form name="conatact_form" method="POST" action="mailto:kimeualexis@gmail.com">
                    <div class="form-group">
                        <label for="name" id="form">Name:<span style="color:red;">*</span></label>
                        <input type="text" class="form-control form-control-lg" id="forme" required>
                        <br>

                        <label for="email" id="form">Email:<span style="color:red;">*</span></label>
                        <input type="email" class="form-control form-control-lg" id="forme" required>
                        <br>

                        <label for="subject" id="form">Subject:<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="forme" required>
                        <br>
                        <label for="message" id="form">Message:<span style="color:red;">*</span></label>
                        <textarea class="form-control" id="textarea" rows="7" required></textarea>
                        <br>
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </div>
                </form>
            </div>


            <div class="col-md-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="lead1">Find Us...</p>
                <hr>

                <div class="col-md-6 text-center">
                    <br>
                    <br>
                    <i class="fa fa-map-marker fa-4x"></i>
                    <h4>Address/Street:</h4>
                    <p id="acts">P.O BOX: 1213-00618</p>
                    <p id="acts">Ngara, <br> Nairobi</p>
                </div>
                <div class="col-md-6 text-center">
                    <br>
                    <br>
                    <i class="fa fa-mobile fa-4x"></i>
                    <h4>Phone Number:</h4>
                    <p id="acts">+254(0723494571)</p>
                </div>

                <div class="col-md-12">
                    <br>
                    <br>
                    <br>
                    <hr>
                    <p class="text-center" id="acts">
                        When the whole world is watched, filed, indexed, numbered...the only way to disappear is to appear.
                    </p>
                    <p class="text-center" id="italic">~Root-POI</p>
                </div>
            </div>


        </div>


    </div>

    <!-- End location & contact section-->


</div>
    {% include 'schapp/footer.html' %}
    <script src="{% static 'schapp/js/main.js' %}"></script>
{% endblock %}